<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Spring Boot Web Page</title>
</head>

<body>
    <div id="app">
        <el-row>
            <el-col :span="8">
                <el-upload ref="uploadProExcels" class="upload-demo" action="/excel/uploadProExcels"
                    :on-remove="fileRemove" :on-change="uploadProExcelsChang" :auto-upload="false" :multiple="true"
                    :file-list="form.instProFiles" drag>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                </el-upload>
            </el-col>
            <el-col :span="8">
                <el-upload ref="uploadTestExcels" class="upload-demo" action="/excel/uploadTestExcels"
                    :on-remove="fileRemove" :on-change="fileChang" :auto-upload="false" :multiple="true"
                    :file-list="form.instTestFiles" drag>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                </el-upload>
            </el-col>
            <el-col :span="8">
                <el-upload ref="uploadInventory" class="upload-demo" action="/excel/uploadInventory"
                    :on-remove="fileRemove" :on-change="fileChang" :auto-upload="false" :multiple="true"
                    :file-list="form.inventory" drag>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                </el-upload>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6">
                <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器
                </el-button>
            </el-col>
            <el-col :span="6">
                <el-button style="margin-left: 10px;" size="small" type="success" @click="download">生成报告</el-button>
            </el-col>
        </el-row>
    </div>
</body>

</html><!-- 引入样式 -->
<link rel="stylesheet" href="./css/index.css">
<script src="./js/axios.min.js"></script>
<!-- import Vue before Element -->
<script src="./js/vue.js"></script>
<!-- import JavaScript -->
<script src="./js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello, Thymeleaf and Vue!',
            form: {},
            proFormData: new FormData()

        },
        mounted() {
            // axios.post('/excel/uploadProExcel')
            //     .then(response => {
            //         this.message = response.data.message;
            //     });
        },
        methods: {
            fileRemove() { },
            fileChang() { },
            uploadProExcelsChang(file,fileList) {
            },
            submitUpload() {
                // this.$refs.uploadProExcels.submit();
                // this.$refs.uploadProExcels.uploadFiles;
                var files = this.$refs.uploadProExcels.uploadFiles;
                for (var file in files) {
                    this.proFormData.append("files",files[file].raw)
                }
                axios({
                    headers:{
                        "Content-Type":"multipart/form-data"
                    },
                    method: 'post',
                    url: "/excel/uploadProExcels",
                    data: this.proFormData
                }).then(req => {
                    console.log(req);
                    for (let key of this.proFormData.keys()) {
                        this.proFormData.delete(key);
                    }
                    debugger;
                })
            },
            download() { },
        }
    });
</script>